header.header
	.header-container
		.header-text
			h1.header-text__h1 DEADPOOL
			p.header-text__p 2016
			p.header-text__p USA
			p.header-text__p.header-text__p_red 18+
		.header-menu
			.logo
				.logo__container
					a.logo__link(href="#")
						img.logo__img(src="./img/logo.png", alt="logo")
				p.logo__text spike
			nav.menu
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Все кино   
					li.menu__item
						a.menu__link(href="#") Рейтинги
					li.menu__item
						a.menu__link(href="#") Общение
					li.menu__item
							a.menu__link(href="#") Войти
	img.header-img(src="./img/header.jpg", alt="header background")